body{
    background-image: url(https://besthqwallpapers.com/Uploads/12-2-2022/188648/thumb2-kfc-red-logo-4k-red-brickwall-kfc-logo-brands.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}